.item {
  display: flex;
  flex-direction: row;
  padding: 20px 24px;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  font-size: 20px;
}

.item:last-of-type {
  border-bottom: none;
}

.users {
  display: flex;
  flex-direction: column;
}

.buttonsContainer {
  display: flex;
  gap: 16px;
}

.container {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
}

.thead {
  background: #e5e5e5;
  padding: 16px 24px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
}

.nameCol {
  width: 120px;
  font-size: 20px;
  text-align: left;

}

.ageCol {
  width: 120px;
  font-size: 20px;
  text-align: left;
}