.sendForm {
  display: flex;
  max-width: 1280px;
  column-gap: 45px;
  justify-content: space-between;
  margin-top: 56px;
  margin-bottom: 32px;
}

.textarea {
  resize: none;
  width: 86%;
  background-color: #F5F7FB;
  min-height: 40px;
  border-radius: 20px;
  padding: 12px 24px 11px 24px;
}

.button {
  width: 10%;
  border-radius: 20px;
  border: none;
  background-color: #0066CC;
  color: white;
  height: 40px;
}

.button:hover {
cursor: pointer;
}

.button:active {

}
